<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="F74126343_Homework8.Properties.Settings.f74126343_dbConnectionString"
            connectionString="Data Source=ddns.chih-hao.xyz,11433;Initial Catalog=f74126343_db;Persist Security Info=True;User ID=f74126343;Password=fa5df553ba0f6880;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>